<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>练练看.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16CF9B9A1DE56F4200073787</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16CF9BB31DE56F4300073787</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16CF9BBE1DE56F4300073787</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
